#App {
  font-family: 'Inter', sans-serif;
  header {
    background-color: rgb(33, 190, 83);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFF;
  }
  main {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    form {
      padding: 20px;
      background-color: #EDF2f7;
      select {
        background-color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  #App {
    main {
      padding: 0 20px;
      #wrap-filter {
        flex-direction: column;
      }
    }

  }
}